# .NET Core build artifacts
**/bin/
**/obj/

# NuGet package directories
**/packages/

# Visual Studio files
**/*.sln
**/*.csproj
**/*.user
**/*.vs/

# Test files
**/*.Tests/

# Docker-related files
.dockerignore
Dockerfile*
.docker/
